.car{
	animation: car 4.5s infinite;
  position: absolute; 
  z-index: 2;
  bottom:-10%;
 	right:40px;
 	height: 300px;
 	padding:0px;	
}

@keyframes car {
  from {
    right: -500px;
    
  }

  to {
    right:1820px;
   
  }
}

#rechthoek1 {
 width: 250px;
 height: 100px;
 background: blue;
 margin-left: 90px;
 border-radius: 20px  20px  0px  0px;
 margin-top: -10px;
 margin-bottom: 10px;
}

#rechthoek2 {
 width: 410px;
 height: 110px;
 background: blue;
 border-radius: 10px  10px  10px  10px;
 margin-top: -10px;
 margin-left: 30px;
}

#wiel1 {
 width: 100px;
 height: 100px;
 background: black;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-top: -50px;
 margin-left: 50px;
}

#wiel2 {
 width: 100px;
 height: 100px;
 background: black;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-left: 310px;
 margin-top: -100px;
}

#wiel1a {
 width: 50px;
 height: 50px;
 background: #ffffff;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px;
 margin-left: 75px;
 margin-top: -75px;
}

#wiel2a {
 width: 50px;
 height: 50px;
 background: #ffffff;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-left: 335px;
 margin-top: -50px;
}

#raam1 {
 width: 75px;
 height: 75px;
 background: #ffffff;
 margin-top: -220px;
 margin-left: 120px;
 border: 3px solid #000000;
}

#raam2 {
 width: 75px;
 height: 75px;
 background: #ffffff;
 margin-top: -81px;
 margin-left: 220px;
 border: 3px solid #000000;
} 

#voorlamp1 {
 width: 10px;
 height: 25px;
 background: #FFFF00;
 margin-left: 25px;
 margin-top: 30px;
 animation: blink 1s;
 animation-iteration-count: infinite;
}

#voorlamp2 {
 width: 10px;
 height: 25px;
 background: #ffffb3;
 margin-left: 25px;
 margin-top: -25px;
}

#achterlamp1 {
 width: 10px;
 height: 25px;
 background: #FF0000;
 margin-left: 430px;
 margin-top: 5px;
 animation: blink 1s;
 animation-iteration-count: infinite;
}

#achterlamp2 {
 width: 10px;
 height: 25px;
 background: #ff4d4d;
 margin-left: 430px;
 margin-top: -25px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.windmill {
  text-align: center;
  position: absolute;
  padding:0;
  bottom:0px;
  left:920px;
  z-index:2;
}
.tower {
  display: inline-block;
  margin-top: 25px;
}
.blades {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -139px;
  animation: spin-clockwise 4s linear infinite;
}
@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1{
  text-align: center;
  font-family: verdana;
}
button{
  margin: auto;
  font-family: verdana;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; 
}
